<% provide(:title, "パスワードの再登録") %>
<div class="i-s-row">
  <div class="i-s-box col-md-8 col-md-offset-2">
    <h1>パスワードの再登録</h1>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <div class="form-list">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-list">
      <%= f.submit "送信", class: "submit" %>
    </div>
    <% end %>
  </div>
</div>
