<h1>ONSENO</h1>

<p>こんにちは <%= @user.name %>さん</p>

<p>
下記のリンクをクリックしてアカウントを有効にしてください。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
