<h3>温泉クチコミアプリ・ONSENO</h3>

<p>こんにちは <%= @user.name %>さん</p>

<p>
下記の「アカウントの有効化」リンクをクリックしてアカウントを有効にしてください。
</p>

<%= link_to "アカウントの有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
