
<li>
  <% if user.picture.present? %>
  <%= link_to (image_tag "#{user.picture.thumb100.url}"), user %>
  <% else %>
  <%= image_tag "avatar100.jpg" %>
  <% end %>
  <%= link_to user.name, user, class:"user-name" %>
  <% if current_user.admin? && !current_user?(user) %>
  <%= link_to "削除", user, method: :delete,
                                  data: { confirm: "You sure?" }, class:"user-name-del" %>
  <% end %>
</li>
