<% provide(:title, "プロフィールの更新") %>
  <div class="col-md-7">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="onsenpost_form">
      <%= render 'shared/user_edit_form' %>
    </section>
  </div>
  <aside class="col-md-5">
    <div class="side-one">
        <h3>新着の温泉</h3>
        <%= render 'shared/feed' %>
    </div>
  </aside>
